@using TaskManager.Shared;


@if (!Task.IsEditing)
{
    <tr class="@RowBackgroundStyle">
        <td><a href="" @onclick:preventDefault @onclick="async e => { await DeleteTaskAsync(e); }"><i class="oi oi-trash mr-2"></i>Delete</a></td>
        <td>@Task.DueBy.ToShortDateString()</td>
        <td>@Task.TaskName</td>
        <td>
            <input type="checkbox" 
                   @onchange="async e => {await MarkCompletedAsync(e); }" />
        </td>
        <td>
            @if (Task.IsCompleted)
            {
                <span>Completed</span>
            }
            else if (Task.DueBy > DateTime.MinValue && Task.DueBy < DateTime.Now.Date)
            {
                <span>Overdue</span>
            }
            else
            {
                <span>Not completed</span>
            }
        </td>
        <td>
            <div class="btn btn-link mx-3" @onclick="async e => {await EditTaskAsync(e);}"><i class="oi oi-pencil mr-2"></i>Edit</div>
        </td>
    </tr>
}
else
{
    <tr>
        <td></td>
        <td><input type="date" @bind="Task.DueBy" /></td>
        <td><input @bind="Task.TaskName" /></td>
        <td></td>
        <td><input type="checkbox" @bind="Task.IsCompleted" /></td>
        <td>
            <div class="btn btn-link mx-3" @onclick="async e => {await SaveTaskAsync(e);}"><i class="oi oi-circle-check mr-2"></i>Save</div>
        </td>
    </tr>
}

@code {
    [Parameter]
    public TaskItem Task { get; set; }

    [Parameter]
    public string RowBackgroundStyle { get; set; }

    [Parameter]
    public EventCallback<TaskItem> DeleteTaskClicked { get; set; }
    [Parameter]
    public EventCallback<TaskItem> EditTaskClicked { get; set; }
    [Parameter]
    public EventCallback<TaskItem> SaveTaskClicked { get; set; }
    [Parameter]
    public EventCallback<TaskItem> MarkAsCompleteClicked { get; set; }



    private async Task MarkCompletedAsync(ChangeEventArgs e)
    {
        Task.IsCompleted = true;
        await MarkAsCompleteClicked.InvokeAsync(Task);
    }

    private async Task DeleteTaskAsync(EventArgs e)
    {
        await DeleteTaskClicked.InvokeAsync(Task);
    }

    private async Task EditTaskAsync(EventArgs e)
    {
        Task.IsEditing = true;
        await EditTaskClicked.InvokeAsync(Task);
    }

    private async Task SaveTaskAsync(EventArgs e)
    {
        await SaveTaskClicked.InvokeAsync(Task);
    }
}
